extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="sn") Заводской номер
          .col-xs-12.col-sm-10
            input#name.form-control(name="sn")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="cfgLock") Сохранить изменения в регистраторе
          .col-xs-12.col-sm-10
            input#name.form-control(name="cfgLock")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="updateTimeMin") Интервал обновления данных
          .col-xs-12.col-sm-10
            input#name.form-control(name="updateTimeMin")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="smsEnable") Разрешена отправка СМС
          .col-xs-12.col-sm-10
            input#name.form-control(name="smsEnable")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="phoneNumber") Номер телефона для отправки СМС
          .col-xs-12.col-sm-10
            input#name.form-control(name="phoneNumber")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="paramsmsEnable") Формат СМС сообщения
          .col-xs-12.col-sm-10
            input#name.form-control(name="paramsmsEnable")
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="deviceType") Тип устройства
          .col-xs-12.col-sm-10
            select#name.form-control(name="deviceType")
              option(value="1") Улей
              option(value="2") Омшаник
              option(value="3") Жилой вагон
              option(value="4") Рабочий вагон
              option(value="5") Пасека улица
              option(value="6") Резерв 1
              option(value="7") Резерв 2
        .form-group
          label.col-xs-10.col-sm-8.control-label(for="numberInOrder") Порядковый номер
          .col-xs-12.col-sm-10
            input#name.form-control(name="numberInOrder")

        button.btn.btn-default.pull-right Сохранить настройку ответа
    .col-xs-12.col-md-4
