doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='refresh', content='15')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(style='background-image: url(/images/background.jpg); background-image: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.5) 100%), url(/images/background.jpg);')
    nav.navbar.navbar-brand( role="navigation" )
     #navbar-inverse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active: a.btn.btn-warning( href="/") Просмотр данных
        li: a.btn.btn-danger( href="/datalog" ) Журнал посылок
        li: a.btn.btn-success( href="/customize" ) Настройка ответов

    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; aep 2018

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')